body {
  font-family: Verdana, sans-serif;
  background: #377d37;
  color: #e8ffe8;
  margin: 0;
  padding: 0;
}

header {
  background: #0f4d0f;
  text-align: center;
  padding: 20px;
}

nav a {
  color: #9cff9c;
  margin: 0 10px;
  text-decoration: none;
}

section {
  background: #034803;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
}
.imagem {
  text-align: center;
  background: #023b02;
  padding: 25px;
  border-radius: 10px;
}

.foto-mapa {
  width: 90%;              
  max-width: 650px;        
  border-radius: 12px;     
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); 
  margin-top: 10px;
}

.imagem p {
  font-style: italic;
  color: #c9ffc9;
  margin-top: 10px;
}

h2 {
  color: #9cff9c;
}
